:root {
    --Orange: #F36425;
    --Dark-gray: #343539;
    --Light-gray: #A9AAAE;
}

html {
    scroll-behavior: smooth;
}

body {
    /*     background-image: url(/img/charlie.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#myBtn {
    display: flex;
    transition: .5s ease-in;
    opacity: 0;
}

.scroll_to_top {
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: var(--Orange);
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.6);
    border-radius: .5vw;
    width: 3vw;
    height: 3vw;
    right: 2vw;
    bottom: 2vw;
    cursor: pointer;
    user-select: none;

    z-index: 9999;
}

.scroll_to_top span {
    transform: rotate(180deg);
    font-size: 3rem;
}



.landing_page_1 {
    height: 150vh;
    width: 100vw;
    background-image: url(/img/axelborg-towers-modern-architecture.jpg);

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_menu {
    text-decoration: none;
    margin-top: 8vh;
    margin-left: 10.5vw;
    width: 90vw;
    display: flex;
    gap: 3.5vw;
    text-transform: uppercase;
}

.header_menu a {
    color: white;

}

.not_active {
    text-decoration: none;
}

.menu_active {
    text-decoration: underline;
    text-decoration-color: var(--Orange);
    text-decoration-thickness: 3px;
    text-underline-offset: 1rem;
}

.header_menu a:hover {
    text-decoration: underline;
    text-decoration-color: var(--Orange);
    text-decoration-thickness: 3px;
    text-underline-offset: 1rem;
}

.trans {
    transform: rotate(90deg);
    margin-top: 6vh;


    text-transform: uppercase;
    font-size: 2.5rem;
    color: #ffffff;
}

.trans span {
    color: var(--Orange);
}

.landing_container {
    margin-left: 10.5vw;
    width: 85vw;
    height: 75vh;
    display: flex;

}

.landing_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 6vh;

    width: 25vw;
    color: #ffffff;
    font-weight: 200;
}

.landing_content h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    width: 15vw;
    margin: 0;
    font-weight: 300;

}

.landing_content span {
    margin-left: 5.5vw;
    font-size: 3rem;
}


.landing_page_2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100vh;

}

.one {
    width: 27vw;
    display: flex;
    justify-content: center;

}

.one span {
    color: var(--Orange);
    font-size: 5rem;
}

#turned {
    color: #ffffff;
    transform: rotate(90deg);
}

.two {
    background-color: #F36425;
    width: 24vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    color: #ffffff;
}

.two h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 75%;
}

.two p {
    max-width: 75%;
}

.three {
    max-width: 49vw;
    display: flex;
    flex-direction: column;
}

.three_one {
    background-image: url(/img/beautiful-view-desert-clear-blue-sky-captured-oostkapelle-netherlands.jpg);
    background-color: var(--Orange);
    background-blend-mode: soft-light;
    background-size: cover;

    height: 50%;
}

.three_two {
    height: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 7%;

}

.three_two h1 {
    font-size: 2.5rem;
    font-weight: 400;
    max-width: 55%;
    padding-top: 7%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--Dark-gray);

}

.three_two p {
    margin-bottom: 5%;
    font-weight: 600;
    color: var(--Light-gray)
}

.three_two a {
    display: flex;
    align-items: center;
    gap: 2%;
    padding-top: 4%;
    text-decoration: none;
    color: #343539;
    font-weight: 600;

}

.landing_page_3 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200vh;

}

.landing_page_3 h1 {
    font-size: 3rem;
    font-weight: 400;
    padding-left: 13vw;
    padding-top: 1.5vw;
    text-transform: uppercase;
    color: var(--Dark-gray);
}

.landing_page_3 p {
    padding: 0vw 13vw;
    columns: 2;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--Light-gray);
}

.landing_page_3_img {
    background-image: url(/img/low-angle-greyscale-building-with-modern-brutalist-architecture-sunlight.jpg);
    transform: scaleX(1);
    height: 108vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 68vh;
    z-index: -8;
}

.landing_page_4 {
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300vh;


}

.top {
    display: flex;
    padding-left: 13vw;
    height: 100%;
}

.top_left {
    background-color: var(--Orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    flex-direction: row;
    margin-top: 12.5vh;
    width: 30vw;

}

.top_left h1 {
    color: #ffffff;
    max-width: 50%;
}

.top_right {
    background-image: url(/img/closeup-profile-bearded-man-with-tattoo-his-neck-sunglasses-wearing-military-shirt-studio-photo-against-dark-wall.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 12.5vh;
    width: 30vw;

}

.bottom {
    background-color: var(--Orange);
    margin-left: 13vw;
    width: 87vw;
    height: 70vh;

}

.bottom p {
    color: #ffffff;
    width: 80%;
    gap: 5vw;
    columns: 2;
    padding: 5vh 5vw 0 5vw;
}

.landing_page_5 {
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 420vh;

}

.page_5_content {
    width: 87vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #343539;
    margin-left: 13vw;
    padding-left: 4vw;

}

.page_5_content h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
}

.page_5_content input {
    padding: 1vw;
    font-size: 1rem;
    width: 10vw;
    border: transparent solid 2px;
}

#email {
    width: 15vw;
}

#submit {
    color: #A9AAAE;
    font-weight: 600;
    border: #A9AAAE solid 3px;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}

#submit:hover {
    background-color: var(--Light-gray);
    color: var(--Dark-gray);

}

.landing_page_6 {
    height: 160vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 454vh;

}

.page_6_top {
    height: 112.5vh;
    width: 87vw;
    margin-left: 13vw;
    position: relative;
    z-index: -999;
    background-image: url(/img/axelborg-towers-modern-architecture.jpg);

}

.page_6_bottom {
    height: 95vh;
    width: 73vw;
    top: 65vh;
    margin-left: 13vw;
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.page_6_left {
    width: 33%;
    height: 100%;
    background-color: #F36425;
    gap: 5vh;
    color: #ffffff;

}

.page_6_left h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 90%;
    max-width: 45%;
    padding: 3vw 3vw 0vw 3vw;
    text-transform: uppercase;

}

.page_6_left p {
    font-weight: 400;
    max-width: 70%;
    padding: 0 3vw;

}


.page_6_right {
    width: 66%;
    height: 100%;

}

.page_6_right_top {
    height: 50%;
    width: 100%;
    background-image: url(/img/beautiful-view-desert-clear-blue-sky-captured-oostkapelle-netherlands.jpg);
    background-color: var(--Orange);
    background-blend-mode: soft-light;
    background-size: cover;
}

.page_6_right_bottom {
    height: 50%;
    width: 100%;
    color: var(--Dark-gray);
}

.page_6_right_bottom h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 90%;
    max-width: 85%;
    padding: 3vw 3vw 0vw 3vw;
    text-transform: uppercase;

}

.page_6_right_bottom p {
    font-weight: 400;
    max-width: 70%;
    padding: 0 3vw;

}

footer {
    position: absolute;
    top: 614vh;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    background-color: #343539;

}

.links {
    width: 50%;
    margin-left: 13vw;
    display: flex;
    justify-content: space-around;
}

.footer_columns {
    display: flex;
    flex-direction: column;
    gap: 2vh;

}

.footer_columns h3 {
    color: #F36425
}

.footer_columns a {
    color: #ffffff;
    text-decoration: none;
}

.footer_columns a:hover {
    text-decoration: underline;
}